/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700); */
/* @import url(https://fonts.googleapis.com/css?family=Euphoria+Script); */
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);

/*
font-family: 'Euphoria Script', cursive;
font-family: 'Open Sans', cursive;
font-family: 'Arvo', serif;
*/

/*
:root {
  --gray: #e5e5e9;
  --green: #d3f5e7;
  --yellow: #f9f1a7;
  --blue: #010123;
}
*/
/*
$gray: #e5e5e9;
$green: #d3f5e7;
$yellow: #f9f1a7;
$blue: #010123;
*/

@media screen and (min-width: 40em) {}
@media screen and (min-width: 50em) {}
@media screen and (min-width: 60em) {}
@media screen and (min-width: 80em) {}

/* Reset */
  _html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

/* Styling */
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

    /* Keep everything relative to root size */
    font-size: 1rem;
  }

  html {
    height: 100%;
    /* When working with REM, use html font-size, body won't work! */
    font-size: 16px;
  }

  body {
    font-family: "Arvo", sans-serif;
    font-weight: 300;
    background: #fff;
    min-height: 100vh;
    // height: 100%;
    // overflow: hidden;
    margin: 0;
    text-align: center;
    color:  #001b5f;
    -webkit-overflow-scrolling: touch;
    
    @media screen and (min-width: 60em) {
      overflow-x: hidden;
      overflow-y: auto;
    }
    
    &.is-finished {
      overflow: hidden;
    }

    > .content {
      height: 100%;
    }
  }

  strong,
  h1,
  h2 {
    font-weight: 700;
  }

  a {
    color: inherit;
    cursor: pointer;

    p & {
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
    border: 0px;
  }

  p {
    margin: 0;
    font-size: 1rem;
    line-height: 2em;
  }

  p + p {
    margin-top: 1rem;
  }

  p a:focus,
  p a:hover {
    text-decoration: none;
  }

  a img {
    border: none;
  }

  .floatleft {
    float: left;
  }

  .floatright {
    float: right !important;
    margin-top: 1rem;
  }
  
  .center {
    text-align: center;
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .flex {
    @media screen and (min-width:48em) {
      display: -webkit-flex;
      display: flex;
    }

    @media screen and (min-width:60em) {
    }

    @media screen and (min-width:90em) {
    }
  }

  .container {
    position: relative;
    margin: 0;
    max-width: 100%;
    padding: 0 1rem;

    display: inline-table;
    table-layout: fixed;
    text-align: left;
    width: 100%;

    /* grid should not change with font-size */
    font-size: 16px;

    @media screen and (min-width: 40em) {

    }

    @media screen and (min-width: 60em) {
      width: 60em;
      padding: 0;
    }

    @media screen and (min-width: 80em) {
      width: 80em;
    }

    @media screen and (min-width: 90em) {
      width: 90em;
    }

    @media screen and (min-width:101em) {
      width: 101em;
    }
  }

/* Specific */
.header {
  position: relative;
  background: #00a295;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 1rem;
  font-size: 5vw;

  h1 {
  }

  @media screen and (min-width: 60rem) {
    font-size: 2rem;
  }

  .container {
    z-index: 10;

    @media screen and (min-width: 60em) {
      background: none;
    }
  }

  .container {
    @media screen and (min-width: 80em) {
      width: 74rem;
      display: inline-block;
      float: none;
    }

    @media screen and (min-width: 90em) {
      width: 74rem;
    }

    @media screen and (min-width:101em) {
      width: 74rem;
    }
  }
}

.layout {
  font-size: 0;
}

.col--13 {
  position: relative;
  display: table;
  width: 100%;
  font-size: 1rem;

  @media screen and (min-width: 60em) {
    width: 33% !important;
    display: table-cell;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    float: none;
    padding-top: 3rem;
    padding-bottom: 0;

    padding-right: 4rem;
    p.title {
      line-height: 1.5em;
    }

    p {
      line-height: 2em;
    }

  }

  @media screen and (min-width: 90em) {
    padding-right: 6rem;
  }
}

.col--23 {
  margin-top: 0.5rem;
  display: block;
  width: 100%;
  font-size: 1rem;

  @media screen and (min-width: 60em) {
    width: 67% !important;
    display: table-cell;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    float: none;
    margin-top: 0;
    max-width: 795px;
  }
}

.full {
  width: 100%;
  text-align: center;
  padding: 3rem 0;
}

.board {
  position: relative;
  background: #fff;
  transform: translateZ(0);
  z-index: 1;

  .container {
    padding: 0;

    @media screen and (min-width: 60em) {
      padding: 1rem 0 8rem;
    }

    @media screen and (min-width: 80em) {
      width: 74rem;
    }

    @media screen and (min-width: 90em) {
      width: 74rem;
    }

    @media screen and (min-width:101em) {
      width: 74rem;
    }
  }

  .col--13 {
    vertical-align: top;
    padding: 1rem;

    @media screen and (min-width: 60em) {
      padding: 0 0 0 90px;
    }
  }
}

#game {
  // box-shadow: 0 0 10px #ccc;
  display: inline-block;

  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;

  &.done {
    /*transform: rotate(1800deg) scale(2);*/
    animation: done 1s 1 forwards ease-in-out;
  }
}

@keyframes done {
  0% { transform: rotate(0deg) scale(1) },
  33% { transform: rotate(300deg) scale(1.5) },
  100% { transform: rotate(900deg) scale(0) }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  overflow: auto;

  display: flex;
  // align-items: center;
  justify-content: center;
  
  @media screen and (min-width: 60em) {
    align-items: center;
  }

  display: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;

  &.active {
    display: flex;
  }

  &.fadein {
    opacity: 1;
    display: block;
    display: flex;
  }

  .content {
    display: inline-block;
    padding: 3rem 1rem;
    width: 100%;
    max-width: 860px;
    background: #00a295;
    color: #fff;
    max-height: none;
    overflow: auto;
    z-index: 20;
  }

  .block--wrapper {
    line-height: 0;
    float: left;
    width: 100%;
    height: 1px;
  }

  .block--small {
    display: inline-block;
    background: #000;
    width: 13px;
    height: 1px;
    vertical-align: top;
  }

  .logo--overlay {
    margin: 0.8rem 0 0.3rem;
    float: none;
    max-width: 100%;
  }

  .block {
    background: #001b5f;
  }

  .title--sub {
    font-family: 'Arvo', serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1.5rem 0 0;
  }

  .btn {
    display: inline-block;
    background: #fff;
    color: #00a295;
    margin-top: 2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: #fff;
      background: #00a295;
      outline: 1px solid #fff;
    }
  }
}

.canvas {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.points {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #00a295;
  color: #fff;
  height: 100px;
  padding: 0 1rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &.active {
    opacity: 1;
  }

  .title__small {
    font-family: 'Arvo', serif;
    font-size: 1.5rem;
    line-height: 1em;
    // color: #00a295;
    display: none;
  }

  .user__time,
  .user__clicks {
    font-family: 'Arvo', serif;
    font-size: 3rem;
    line-height: 1em;
    margin: 0;
    // color: #00a295;
  }

  hr {
    // width: 100%;
    // height: 1px;
    // border: 0px;
    // background: #00a295;
    // background: #fff;
    // margin: 1rem 0;
  }

  p.title {
    font-family: 'Arvo', serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1em !important;
    margin-top: 4rem;

    &:after {
      content: "";
      display: block;
      width: 40px;
      height: 5px;
      background: #000;
      margin-top: 1.5rem;
    }
  }
}